* {
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}
.container {
  display: flex;
  margin-top: 1em;
}
.box {
  width: 30%;
  justify-content: space-between;
  height: 600px;
  background-color: orange;
  margin: 1em;
  position: relative;
}
#box1-1 {
  width: 90%;
  height: 45%;
  background-color: aqua;
}
#box1-2 {
  width: 90%;
  height: 45%;
  background-color: aqua;
  position: absolute;
  bottom: 0em;
  padding: 1em;
  box-sizing: border-box;
}

/* 2nd box */

#box2-1 {
  width: 44%;
  height: 45%;
  background-color: aqua;
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}
#box2-2 {
  width: 44%;
  height: 45%;
  background-color: aqua;
  margin-top: 1em;
  margin-right: 1em;
  float: right;
}
#box2-3 {
  width: 92%;
  height: 47%;
  background-color: aqua;
  margin-top: 1em;
  margin-right: 1em;
  float: right;
}

/* //media querry  */
@media (max-width: 768px) {
  .container {
    color: antiquewhite;
    flex-direction: column;
  }
  .box {
    width: 50%;
  }
  #box2-1 {
    width: 92%;
    height: 28%;
    background-color: aqua;
    float: center;
    margin: 1em;
  }
  #box2-2 {
    width: 92%;
    height: 28%;
    background-color: aqua;
    float: center;
    margin: 1em;
  }
  #box2-3 {
    width: 92%;
    height: 28%;
    background-color: aqua;
    float: center;
    margin: 1em;
  }
}
